mixin bullets()
  .header__bullets
    .header__bullet
      .header__bullet-icon: img(src=require('src/modules/header/img/icon_01.png') width=56 height=56)
      .header__bullet-text Передовые малоинвазивные методы
    .header__bullet
      .header__bullet-icon: img(src=require('src/modules/header/img/icon_02.png') width=56 height=63)
      .header__bullet-text Срочные операции в день обращения
    .header__bullet
      .header__bullet-icon: img(src=require('src/modules/header/img/icon_03.png') width=56 height=55)
      .header__bullet-text Оперирую пациентов от 18 до 100 лет


header.header
  .c
    .header__top
      .header__top-left
        .header__name Андрей Реутов
        .header__position Нейрохирург в ЦКБ Управления делами президента РФ
      .header__top-right
        button.header__button(data-micromodal-trigger="callback-popup") получить консультацию
        a.header__link(href='#') INSTAGRAM
        a.header__link(href='#') FACEBOOK
    .header__main
      .header__left
        .header__slider
          .header__slides
            .header__slide
              .header__title Хирургическое лечение опухолей
              .header__subtitle головного и спинного мозга
              +bullets()

            .header__slide
              .header__title Хирургическое лечение
              .header__subtitle мальформации Киари
              .header__license
                .header__license-text Моим запатентованным методом,#[br]признанном во всем мире
                .header__license-img: img(src=require('src/modules/header/img/license.jpg') width=95 height=84)
              +bullets()

            .header__slide
              .header__title Хирургическое лечение
              .header__subtitle гидроцефалии(водянки)
              .header__list
                .header__list-item
                  +the_svg('chevron').header__list-bullet
                  | Установка программируемого шунта
                  +the_svg('info').header__list-info.tooltip(data-tippy-content="hello")
                .header__list-item
                  +the_svg('chevron').header__list-bullet
                  | или эндоскопическая вентрикулостомия
                  +the_svg('info').header__list-info.tooltip
              +bullets()

            .header__slide
              .header__title Хирургическое лечение
              .header__subtitle невралгии тройничного нерва
              +bullets()

            .header__slide
              .header__title Хирургическое лечение
              .header__subtitle эпилепсии
              +bullets()

            .header__slide
              .header__title Восстановительные операции
              .header__subtitle после черепно-мозговой травмы
              .header__bullets
                .header__bullet
                  .header__bullet-icon: img(src=require('src/modules/header/img/icon_04.png') width=56 height=55)
                  .header__bullet-text Имплант, повторяющий#[br]форму черепа до травмы
                .header__bullet
                  .header__bullet-icon: img(src=require('src/modules/header/img/icon_05.png') width=56 height=62)
                  .header__bullet-text Защищенность мозга и#[br]возвращение эстетики внешности

        .header__navigation
          .header__nav.header__nav--prev: +the_svg('chevron')
          .header__nav.header__nav--next: +the_svg('chevron')

        .header__footer
          button.btn(data-micromodal-trigger="callback-popup") Записаться на встречу с врачом
          ul.header__note
            li #[span очно] в Москве
            li #[span онлайн] из любого города и страны
        .header__pagination

      .header__right
        img.header__photo(src=require('src/modules/header/img/photo.jpg') width=597 height=800)
        .header__label
          +the_svg('quote')
          span #[b Лично]#[br]веду пациентов#[br]от консультации#[br]до операции
        .header__info
          .header__info-name
            span Реутов
            |#{' '}
            span Андрей
            |#{' '}
            span Александрович
          .header__info-position нейрохирург высшей#[br]категории, к.м.н., опыт#[br]более 19 лет
